<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commit Test</title>
  </head>
  <body>
    <h1>Test Commits</h1>
    <h2>this is amended - then comitted</h2>
    <h2>committed locally and then pushed to github</h2>
    <h3>...and the changes made to the local repo at 3:22</h3>
  </body>
</html>
